@include toggle-switch;

.save-cancel-container {
	display: flex;
}
#cancel {
	@include save-cancel-btn;
	background: $sendCancelAlert;
}
#save {
	@include save-cancel-btn;
	background: $sendSaveAlert;
}
@media (min-width: 768px) {

}