@include toggle-switch;

.save-cancel-container {
	display: flex;
}
#cancel {
	@include save-cancel-btn;
	background: $sendCancelAlert;
}
#save {
	@include save-cancel-btn;
	background: $sendSaveAlert;
}
#cancel:hover {
	background: $cancel-btn-hover;
	transition: 0.5s ease-in;
}
#save:hover {
	background: $btn-hover;
	transition: 0.5s ease-in;
}
@media (min-width: 768px) {

}