#searchBar {
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	margin: 15px;
}
#searchBar input {
	flex-grow: 1;
	padding: 10px;
	border: none;
	background: #fff;
	color: #dbdbdb;
}
#searchBar button {
	border: none;
	background: #fff;
}
#searchBar button i {
	border: none;
	background: #fff;
	color: #5e62bf;
}
.on-off-choice {
	margin-left: 10px
}
.on-off-switch {
	display: flex;
	justify-content: space-between;
}
.toggle-btn {
	width: 80px;
	height: 25px;
	margin-top: 10px;
	margin-right: 25px;
	background-color: #7478bf;
	border-radius: 30px;
	padding: 5px;
	transition: 300ms ease-in-out;
	cursor: pointer;
}
.toggle-btn .on {
	position: relative;
	bottom: 42px;
	left: 3px;
	text-transform: uppercase;
	color: #fff;
}
.toggle-btn .inner-circle {
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	margin-left: 3px;
	transition: 300ms ease-in-out;
}
.toggle-btn.active {
	background: tomato;
}
.toggle-btn.active > .inner-circle {
	margin-left: 50px;
}
@media (min-width: 768px) {

}