//form////////////////////////////////////////////////////////////////////////////////
fieldset {
	border: none;
}
.form-container {
	@include form;
}
#autoComplete ol {
	list-style: none;
}
//form////////////////////////////////////////////////////////////////////////////////

//settings////////////////////////////////////////////////////////////////////////////

.settings-container {
	display: flex;
	flex-direction: column;
}
#timezone-offset {
	border: 1px solid $inputBorder;
	background: $inputBackground;
	color: $timezoneTxtColor;
	border-radius: 5px;
	padding: 1em;
	margin: 0.5em;
}